* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ ProN", Meiryo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

body,
#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

nav {
  list-style: none;
  width: fit-content;
}

nav ul li {
  width: 140px;
  text-align: center;
  background-color: #333;
  display: inline-block;
}
 
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  width: 100%;
  padding: 40px 0;
}

section:nth-of-type(1) { background-color: #dec200; }
section:nth-of-type(2) { background-color: #3eb6db; }
section:nth-of-type(3) { background-color: #3d5a6d; }

h2 {
  border-bottom: 4px solid #fff;
  margin-bottom: 30px;
  color: #fff;
}

.section-inner {
  width: 70%;
  margin: 0 auto;
}

input {
  width: 100%;
  border: none;
  padding: .5em;
  font-size: 1.1em;
}

form {
  width: 80%;
  margin: 0 auto;
}

form dt {
  margin-bottom: 20px;
}

form dt,
form label {
  color: #fff;
}

form dt:before {
  content: "◇";
  margin-right: 10px;
}

form dd {
  margin-bottom: 40px;
  margin-left: 0;
}

button[type="submit"] {
  background-color: #3eb6bd;
  margin: 40px auto 0;
  display: block;
  width: 70%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: .9em;
}
