/* ブレイクポイント */
$breakpoints: (
    'pc': 'screen and (min-width: 1025px)',
    'sp': 'screen and (max-width: 1024px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

/* 全般 */
* {
    font-family: 'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

html {
    background-color: #F4F9FF;
}

body {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: auto;
    height: 100%;
}

header {
    margin-top: 48px;
    h1 {
        padding: 15px 0;
        font-size: 30px;
        font-weight: bold;
        line-height: 45px;
    }

    @include mq(sp) {
        margin-top: 45px;
        margin-left: 10px;        
    }
}

.mv {
    height: 420px;

    @include mq(sp) {
        margin: 0 10px;
        height: 23vh;      
    }
}

.index {
    margin: 60px auto 57px;
    max-width: 1000px;
    background-color: white;

    .wrapper {
        margin: 30px 200px;
        padding: 13px 0;

        h2 {
            padding: 20px 0 11px;
            font-size: 18px;
            font-weight: bold;
            line-height: 27px;
        }

        ul {
            padding-left: 18px;

            li {
                font-size: 14px;
                line-height: 21px;
                padding-bottom: 22px;
            }
        }
    }

    @include mq(sp) {
        .wrapper {
            width: 78vw;
            margin: 30px auto;
            padding: 13px 0;

            h2 {
                padding-bottom: 9px;
            }

            ul {
                li {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

.detail {
    max-width: 600px;
    margin: 0 auto;

    h2 {
        font-size: 18px;
        font-weight: bold;
    }

    article {
        margin: 10px 0;
        display: flex;
        flex-direction: row;

        .image {
            max-width: 270px;
            height: 282px;
        }

        .text {
            max-width: 270px;
            padding-left: 60px;

            h3 {
                font-size: 18px;
                font-weight: bold;
                line-height: 27px;
                margin-bottom: 22px;
            }

            table {
                max-width: 270px;
                font-size: 14px;
                line-height: 18px;
                margin: 16px auto;

                tr {
                    height: 22px;
                }

                td {
                    padding-left: 15px;
                }
            }

            .comment {
                font-size: 14px;
                line-height: 21px;
                margin: 24px 0 22px;
            }

            a {
                font-size: 14px;
                line-height: 21px;
                border-bottom: solid 1px #333333;
            }
        }
    }

    @include mq(sp) {
        .wrapper {
            padding: 0 11vw;

            article {
                flex-direction: column;

                .image {
                    max-width: 100%;
                    height: 48.5vh;
                }

                .text {
                    max-width: 100%;
                    padding: 0;
                    padding-top: 25px;

                    h3 {
                        margin-bottom: 19px;
                    }

                    table {
                        margin: 15px auto;
                        max-width: 100%;
                        width: 100%;

                        tr {
                            height: 21px;
                        }

                        td {
                            padding-left: 2vw;
                        }
                    }

                    .comment {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
}

footer {
    max-width: 600px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 15px;
    margin-top: 203px;
    letter-spacing: 0.2px;

    @include mq(sp) {
        margin: 127px 11vw 0;
    }
}

.chromeperfectpixel-overlay {
//    width: 1280px !important;
//    height: 1517px  !important;
    width: 375px !important;
    height: 1555px  !important;
}
